.Details-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin-bottom: 20px;
}
.Details-container h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0.5em 0 0.3em 0.6em;
  color: #00204a;
}
.Details-presentation {
  display: flex;
  flex-direction: row;
}
.Details-bio {
  width: 50%;
}
.Details-bio p {
  font-family: "Muli", sans-serif;
  color: #3c415e;
  font-weight: 400;
  font-size: 22px;
  margin: 0.5rem 0 1.2rem 2rem;
  letter-spacing: 0;
  /* line-height: 100%; */
}
.Details-skills {
  width: 50%;
}
.Details-technologies{
  padding-top: 30px;
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width:768px){
.Details-bio p{
  font-size: 1.5rem;
}
.Details-container h2{
  margin: 10px 0 0 10px;
}
}

@media screen and (max-width:426px){
  .Details-presentation{
    flex-direction: column;
  }
  .Details-bio{
    width: auto;
  }
  .Details-bio p{
    margin: 10px 15px;
  }
  .Details-skills{
    width: auto;
    margin-bottom: 1em;
  }

  .Details-bio p{
    font-size: 1.5rem;
  }

  .Details-container h2{
    font-size: 1.5em;
  }
}

@media screen and (max-width:376px){
  .Details-bio p{
    font-size: 1rem;
  }
}
